/*@media screen and (max-width: 535px) {*/
    /*#one>div{*/
        /*padding-left: 5%;*/
        /*padding-right: 4%;*/
    /*}*/
    /*#one>div>a{*/
        /*width:90%;*/
    /*}*/
    /*#one>div>a>img{*/
        /*width:100%;*/
    /*}*/
    /*#one>div>a>div{*/
        /*width:100%;*/
    /*}*/
/*}*/
#one>div>a{
    display: block;
    width:100%;
    height:240px;
    position: relative;
}
#one>div>a>img{
    width:100%;
    height:240px;

}
#one>div>a>div {
    width: 100%;
    height: 40px;
    bottom: 0px;
}
#one>div>a>div,#work .content .gallery>article>a>div{
    background-color: rgba(0,0,0,0.8);
    color:white;
    position:absolute;
    left:-0px;
    overflow: hidden;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -o-box-orient: vertical;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    -o-box-pack: center;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
}
#one>div>a:hover>div{
    height:240px;

}
#one>div>a>div>p,#work .content .gallery>article>a>div>p{
    line-height: 40px;
    font-weight: 700;
}
#one>div>a>div .small_caption,#work .content .gallery>article>a>div .small_caption{
    display: none;
    font-size: 14px;
    font-weight: 400;
}
#one>div>a:hover>div  .small_caption,#work .content .gallery>article>a:hover>div .small_caption{
    display: block;
}
/*流光字体*/
#two>div>p{
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, blue, red 25%, blue 50%, red 75%, blue 100%); -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: stream 3s infinite linear;
    background-size: 200% 100%;
}
@keyframes stream {
    0%  {
        background-position: 0 0;
    }
    100% {
        background-position: -100% 0;
    }
}
#work .content .gallery>article>a{
    display: block;
    width:100%;
    height: 100%;
}
#work .content .gallery>article>a>img{
    width:100%;
    height:280px;
}
#work .content .gallery>article>a>div{
    width:100%;
    height:40px;
    bottom: 0px;
}
#work .content .gallery>article>a:hover>div{
    height:280px;
}

#contact>div>ul>li{
    width: 34px;
    height: 34px;
    border-radius: 17px;
}
#contact>div>ul #github{
    background-color: black;
}
#contact>div>ul #weibo{
    background-color: red;
}
#contact>div>ul #zhihu{
    background-color: rgb(6,99,193);
}
#contact>div>ul #email{
    background-color: rgb(59,152,186);
}