*{
  margin: 0;
  padding: 0;
}
#divbox{
  width: 80%;
  height: 300px;
  margin: 20px auto;
  border: 1px solid grey;
  border-radius: 10px;
}
p{
  text-align: center;
  line-height: 300px;
  color:green;
  font-size: 30px;
}
#divmenu{
  border: 1px solid grey;
  border-radius: 3px;
  width: 20%;
  position: absolute;
  background-color: white;
}
li{
  list-style: none;
  height: 30px;
}
a{
  text-decoration: none;
  color: black;
  font-family: cursive;
  font-size: 25px;
}
